<!-- {{yield}} -->

<div>
  <h2 class="text-center">{{post.title}}</h2>
  <h4 class="text-center">by {{post.author}}</h4>
  <p><img class="img-fill img-responsive" src={{post.image}}></p>
  <p>
    {{post.content}}
  </p>
  <h6>posted {{post.time}}
  {{update-post post=post update="update"}}
  <button class="btn-glyph btn btn-default pull-right" {{action 'delete' post}}> <span class="glyphicon glyphicon-remove-circle"></span></button></h6>
</div>
<br>
<hr>
